#page {
  height: 100%;
  width: 100%;
  background-color: #0D1520;
  display: flex;
  justify-content: space-around;
}

main {
  width: 100%;
  height: 100%;
  padding: 33px 36px 36px 36px;
}

main .highlight {
  width: 100%;
  background-color: #131F2F;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

main .highlight .title-container {
  padding: 12px 21px;
}

main .highlight .title-container h1 {
  color: #fff;
  font-family: 'Poppins';
  font-size: 28px;
  font-weight: 700;
  max-width: 600px;
}

main .highlight img {
  width: 100%;
  max-width: 666px;
}

main .category-videos {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}

main .category-videos h2 {
  color: #E5E5E5;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 13px;
}

main .category-videos .videos-carousel {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}

main .category-videos .videos-carousel img {
  width: 320px;
  height: 150px;
  padding-right: 16px;
  border-radius: 14px;
}
